<div class="container">
    <div class="row">
        <div class="col-md-2">

            <div class="container text-center my-5 py-5">
                <button mat-raised-button color="primary" [routerLink]="['/home']">Find Doctors </button>
            </div>

        </div>
        <div class="col-md-2">

            <div class="container text-center my-5 py-5">
                <button mat-raised-button color="primary" [routerLink]="['/DsignUp']">signUP as Doctors </button>
            </div>

        </div>

        <div class="col-md-2">

            <div class="container text-center my-5 py-5">
                <button mat-raised-button color="primary" [routerLink]="['/DsignIn']">login as Doctors </button>
            </div>

        </div>

        <div class="col-md-2">

            <div class="container text-center my-5 py-5">
                <button mat-raised-button color="primary" (click)="logoutDoctor()" >Logout as Doctor </button>
            </div>

        </div>

        <div class="col-md-2">

            <div class="container text-center my-5 py-5">
                <button mat-raised-button color="primary" [routerLink]="['/PsignUp']">SginUp as patient </button>
            </div>

        </div>

        <div class="col-md-2">

            <div class="container text-center my-5 py-5">
                <button mat-raised-button color="primary" [routerLink]="['/PsignIn']">Login as patient </button>
            </div>

        </div>

        <div class="col-md-2">

            <div class="container text-center my-5 py-5">
                <button mat-raised-button color="primary" (click)="logoutPatient()">Logout as patient </button>
            </div>

        </div>

        
    </div>

</div>






