<div class="container mt-3 justify-content-center">

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="name" placeholder="Full Name" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="username" placeholder="Username" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="password" placeholder="password" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="location" placeholder="Location" />
            </div>
        </div>
    </div>



</div>

<form #questionForm="ngForm" class="container mt-3" (ngSubmit)="logValue()">
    <div class="row justify-content-center">
        <div class="col-12">
            <button type="button" class="btn btn-primary mb-2" (click)="addQST()">Add Question</button>
            <section class="container border mb-4 p-3" *ngFor="let question of questions; let i = index;">
                <div class="row">
                    <div class="col-6">
                        <h4>Question {{i + 1}}</h4>
                    </div>
                    <div class="col-6 text-right">
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeQST(i)">Remove</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="question.question"
                                name="question_{{i}}" placeholder="....." />
                        </div>
                    </div>
                </div>

            </section>

            <div class="text-right">
                <input type="submit" class="btn btn-success" (click)="doctorSignUp()" value="Submit" />
            </div>

        </div>